* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light {
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

body.dark {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    transition: color 0.5s ease;
}

/* Mode Button */
.mode-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.mode-btn i {
    color: #ffcc00;
}

body.dark .mode-btn i {
    color: #4450aa;
}

/* Box styling */
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
}

.box:active {
    transform: scale(0.95);
}

body.dark .box {
    background-color: #333;
    color: #fff;
}

/* Turn Message */
.turn-message {
    margin-bottom: 20px;
}

#turn-msg {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    transition: color 0.5s ease; /* Smooth transition of text color */
}

/* Dark mode for turn message */
body.dark #turn-msg {
    color: #ffcc00; /* Adjust the color to whatever fits best in dark mode */
}

/* Reset Button */
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #007BFF;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

body.dark #reset-btn {
    background-color: #ff4081;
    color: #fff;
}

/* New game Button */
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #007BFF;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

body.dark #new-btn {
    background-color: #ff4081;
    color: #fff;
}

#msg {
    color: #28A745;
    font-size: 8vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

@media only screen and (max-width:635px) {
    .msg-container {
        height: 140vmin;
    }    
}

.hide {
    display: none;
}
